BOT_TOKEN='111111111:XXXXXXXXXXXXXXXXXXXXXXXX'
DATABASE_URL='https://somedb.firebaseio.com/'
FIREBASE_CERTIFICATE='path_to_your_certificate.json'
REDIS_HOST='localhost'
REDIS_PORT='6379'
STORAGE_BUCKET='somestorage.appspot.com'